rules_version = '2';

// Regulamento de Segurança do Google Cloud Firestore - Feira Livre (Sandbox / Simulation Mode)
// Arquivo ajustado para permitir o correto funcionamento no ambiente de depuração (AI Studio preview)
// onde o login real da Google é simulado localmente devido às restrições de iframe do navegador.
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir leitura e gravação em todas as coleções para viabilizar testes e simulações com usuários locais
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
